.main {
    min-height: 100vh;
    padding-top: var(--header-height);
    background-color: #1C1917;
    /* Hardcoded Dark Stone */
    background-image: radial-gradient(circle at top right, rgba(255, 255, 255, 0.05), transparent 40%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

@media (max-width: 640px) {
    .main {
        display: block;
        padding-top: calc(var(--header-height) + 20px);
        height: auto;
    }
}